@font-face {
    font-family: 'glacial-indifference';
    src: url('fonts/GlacialIndifference-Regular.otf');
}

@font-face {
    font-family: 'glacial-indifference-bold';
    src: url('fonts/GlacialIndifference-Bold.otf');
}

@font-face {
    font-family: 'tan-pearl';
    src: url('fonts/tan-pearl.otf');
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #799BAD, #F4F4F4);
    min-height: 100vh;
}


h1 {
    position: relative;
    font-family: 'tan-pearl';
    color: #f4f4f4;
    text-align: center;
}

p {
    position: relative;
    font-family: 'glacial-indifference';
    color: #f4f4f4;
}


.texture-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('media/grainoverlay.png');
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.5;
    pointer-events: none;
    z-index: -1;
}

.menu-icon {
    width: 2vw;
    height: 2vw;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.flower-icon {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    transition: transform 1s ease-in-out;
    float: right;
}

.flower-icon img {
    width: 100%;
    height: 100%;
    transform-origin: center;
}

.flower-icon.spinning img {
    animation: rotate-center-normal 1s ease-in 0s 1 normal none;
}

@keyframes rotate-center-normal {
    0% { transform: rotate(0); } 
    100% { transform: rotate(360deg);} 
}

@media (max-width: 600px) {
    .flower-icon {
        top: 0;
        right: 0;
        width: 8vw;
        height: 8vw;
    }
    .menu-icon {
        top: 0;
        left: 0;
        width: 8vw;
        height: 8vw;
    }
}
